<html>
<head>
	<title>My Angular App</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<script src="app.js"></script>
	<link rel="stylesheet" type="text/css" href="base.css">
</head>

<body ng-app="postman" ng-controller="MainCtrl">
	<div><h2>{{welcomeMsg}}</h2></div>
	<div ng-init="qty=10; cost=2">
		Quantity: <input type="number" ng-model="qty">
		Cost:     <input type="number" ng-model="cost">
		<b> 
		TOTAL: {{qty*cost | currency}}
		</b>
		<br/><br/>
		<hr>
		<hr>
	</div>
	<div>
		<table class="simpleTable">
			<tr ng-repeat="post in posts | orderBy: 'upvote' ">
				<td>{{post.title}}</td>
				<td>{{post.upvote}}</td>
				<td><span ng-click="incrementUpvote(post)">^</span></td>
			</tr>
		</table>
		<br/>
		<h4>Add Post</h4>
		<form ng-submit="addPost()">
			<input type="text" ng-model="newPostTitle" placeholder="Title">
			<input type="number" ng-model="newPostUpvote" placeholder="Upvote">
			<button type="submit">Submit</button>
		</form>
	</div>
</body>
</html>